.deshboard_menu_items {
    background-color: #D1A054;
}

.deshboard_menu_items li a{
    text-transform: uppercase;

}

.deshboard_menu_items li a.active {
    background-color:  black;
    color: #fff;
}