@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

.total-mycart-title  {
    font-family: Cinzel;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.mycart_edit_btn {
    background-color: #D1A054;
    color: #fff;
    transition: .8ms;
    padding: .7rem;
    font-size: 20px;
}

.mycart_edit_btn:hover {
    background-color: #000;
    color: #fff;
    transition: .8ms;
}

.mycart_body_wrapper {
    background-color: #f9f9f9;
    padding: 2rem 3rem;

}

.total-mycart-length {
    background-color: #D1A054;
    padding: 2rem 0;
    margin-bottom: 1rem;
}

.total-mycart-length h3{
    color: #fff;
}
