#testimonial-65461 .swiper-slide {
    text-align: center;
    z-index: -1;
    width: 60%;
    margin: auto;
}

#testimonial-65461 .swiper.swiper-initialized.swiper-horizontal.swiper-css-mode.mySwiper {
    height: 300px;
}