#paralaxBannerOne{
    background-image: url('../assets/images/paralax-bg-banner.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}